.venv
.DS_Store
.idea
__pychache__
*.pyc
*.pyo
*.pyd
Scraper.py
*/.DS_Store
*/*/.DS_Store
static/.DS_Store
static/Images/.DS_Store
static/.DS_Store
add_src.py
to-add.txt
update_usrs.py
run.sh
transition.py