<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Source Closet - Browse</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
    <meta name="google-site-verification" content="FyuSCl7BsO80rtLPSAib-nEb1hCIjHcgwGOc1pZJ1Y4" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <meta name="description" content="Search the world's information, including webpages, images, video's and more." />
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">
    <style>
        #title{
            font-size: 6em;
        }
        #sidebar{
            width: 30%;
            height: 100vh;
            background-color: rgb(95, 18, 167);
            color: rgb(176, 104, 53);
            border-radius: 20px;
            padding: 50px;
            font-family: 'Winky Sans', cursive;
            -webkit-text-stroke: 1px black;
        }
        h2{
            font-size: 40px;
        }
        label{
            font-size: 30px;
            font-weight: bold;
        }
        .range-slider{
            width: 20vw;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/motion@latest/dist/motion.js"></script>
    <script>
        const { animate, scroll, inView, hover } = Motion
    </script>
<div class="topnav">
  <a href="/">Home</a>
  <a href="/sources_abbr">Source Abbreviations</a>
  <a href="/search">Search</a>
  <a class="active" href="/browse">Browse</a>
  <a href="/further_reading">Further Reading</a>
  <a href="/about">About</a>
        {% if not login %}
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
        {% else %}
            <a href="/logout">Log Out</a>
            <a href="/profile">Profile</a>
        {% endif %}
</div>
<h1 id="title">Source Closet</h1>
<div id='content-browse' style='display: flex;'>
    <div id='sidebar'>
        <h2>Filter</h2>
        <label for="yr">Year:</label>
        <input class="txtbx" type="text" id="yr" readonly>
        <br>
        <br>
        <div class="range-slider" id="year"></div>
    </div>
    <div id='sources'>
        {% for src in sources %}
        <div class="src_div">
            <a href="/source/{{ src.ID}}" class="src_link" data-year="{{ src.YEAR }}" data-month="{{ src.MONTH }}" data-day="{{ src.DAY }}" data-tags="{{ src.TAGS.split(', ') }}">
                <div class="source">
                    <h2 class="src_heading">{{ src.TITLE }}</h2>
                    <p>{{ src.DATE }}/{{ src.MONTH }}/{{ src.YEAR }}</p>
                    <p>Author: {{ src.AUTHOR }}</p>
                    <p>Description: <span class="desc" style="display: inline;">{{ src.DESCRIPTION }}</span></p>
                    <p>Tags: {{ src.TAGS }}</p>
                </div>
            </a>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<script>
    inView(".source",(element, enterInfo)=>{
        animate(element, {
            scale: [0.2, 1,0.98,1],
            opacity: [0, 1],
            duration: 3.0,
            type: "spring",
            stiffness: 100,
            delay: 0.9
        });
        return () => animate(element, {
                scale: 0.2,
                opacity: 0
        });
    });
    hover(".source", (element) => {
        animate(element, { scale: 0.97 })

        return () => animate(element, { scale: 1 })
    });
    let year_min = {{ year_min }};
    let year_max = {{ year_max }};
</script>
<script defer src="/static/scripts/slider.js"></script>
</body>
</html>