<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Source Closet - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <style>
        h1{
            font-family: "Winky Sans", ui-rounded;
        }
        h2{
            font-family: "Winky Sans", ui-rounded;
            padding-left: 20px;
        }
        p{
            font-family: "Winky Sans", ui-rounded;
            padding-left: 20px;
            padding-right: 50px;
        }
    </style>
</head>
<body style="font: 'Winky Sans', ui-rounded, sans-serif; color: rgb(190, 147, 112);">
    <div class="topnav">
      <a href="{{url_for('index')}}">Home</a>
      <a href="{{url_for('sources_abbr')}}">Source Abbreviations</a>
      <a href="{{ url_for('search') }}">Search</a>
      <a href="{{ url_for('browse') }}">Browse</a>
      <a href="{{ url_for('further_reading') }}">Further Reading</a>
      <a class="active" href="{{ url_for('about') }}">About</a>
    {% if not login %}
        <a href="{{ url_for('signup') }}">Sign Up</a>
        <a href="{{ url_for('login') }}">Log In</a>
    {% else %}
        <a href="{{ url_for('logout') }}">Log Out</a>
        <a href="{{ url_for('profile') }}">Profile</a>
    {% endif %}
    </div>
        <h1>About me and this site</h1>
        <p>I'm  a history enthusiast in the USA who is passionate about history and coding.
            I made Source Closet to make historical sources more accessible to the general public, who may not feel like pouring through bibliographies or looking through archives for what they want.
            This website likely will not help very much with geneaology, since those records are too numerous for me to effectively make available here; the focus of this website is more geared towards
            general historical research. 
            All materials hosted on this website are, unless otherwise stated, free from copyright and in the public domain. Feel free
            to download and distribute them as you wish. I try to make facsimiles available here, but SOME COUNTRIES (*cough cough* The United Kingdom *cough cough*) have inconvenient copyright policies that don't allow this. In such cases,
            I'll have a transcript here instead.
            <br>
            <br>
            Here's how the login system works:<br>
            When you sign up, you will be given a token. This token is used to identify you and your account.
            No other information is required, so that you stay anonymous and your data is safe in case we get hacked (all a hacker will see is that account a12De13234FEH likes sources from the 1930s, for example).
            Keep this token safe, since it's the only way to access your account. On the login page, just paste your token in (or type it out if your memory's strong) and you'll be logged in. Logging in<br>
            allows you to save sources for future reference and use our new-ish AI features, when they come out.
            <br>
            <br>
            Feel free to contact me using the below details with any questions or concerns.
            I'll try to be prompt in my responses, but sometimes it might take me over a week to reply, due to my own personal schedule and business level.</p>

        <h2>Contact information</h2>
        <p>
            Email: <a style="color: rgb(107, 104, 255);" href="mailto:admin@source-closet.com">admin@source-closet.com</a>
        </p>
</body>
</html>