<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Source Closet - {{ source[10] }}</title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
        <script type="text/javascript">

        </script>
        <style>
            #my-pdf { height: 500px; border: 1px solid #ccc; }
        </style>
        <script src="https://unpkg.com/pdfobject"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body id="source_page">
            <script src="https://cdn.jsdelivr.net/npm/motion@latest/dist/motion.js"></script>
            <script>
                const { animate, scroll } = Motion
            </script>
        <div class="topnav">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('sources_abbr')}}">Source Abbreviations</a>
        <a href="{{ url_for('search') }}">Search</a>
        <a href="{{ url_for('browse') }}">Browse</a>
        <a href="{{ url_for('further_reading') }}">Further Reading</a>
        <a href="{{ url_for('about') }}">About</a>
        {% if not login %}
            <a href="{{ url_for('signup') }}">Sign Up</a>
            <a href="{{ url_for('login') }}">Log In</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Log Out</a>
            <a href="{{ url_for('profile') }}">Profile</a>
        {% endif %}
        </div>

        <div id="main_content">
        <h1 id="title">{{ source[0] }}</h1>
        </div>
        <div id="main">
            <div id="content" style="height: 1000px">
                <img src="{{ url_for('static', filename=source[8]) }}" id="cover">
            </div>
            <div id="metadata" style="overflow: auto; width: 100%; height: 200%; color: rgb(190, 147, 112);">
                <p>
                    <span class="highlighted">Author:</span> {{ source[1] }} <br><br>
                    <span class="highlighted">Year:</span> {{ source[2] }} <br><br>
                    <span class="highlighted">Topics:</span> {{ source[4] }} <br><br>
                    <span class="highlighted">Description:</span> {{ source[3] }} <br><br>
                    <span class="highlighted"><a href="{{ source[7] }}">Seller Link</a><br><br>
                </p>
            </div>
            <br>
            <br>
            <br>
            </div>
        </div>
        <script>
    animate("#src_frame", {
            delay: 0.5,
            duration: 1,
            opacity: [0, 1],
            translateY: [-50, 0]
        });
</script>
    </body>
</html>