<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Source Closet - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <style>
        h1{
            font-family: "Winky Rough", ui-rounded;
        }
        h2{
            font-family: "Winky Rough", ui-rounded;
            padding-left: 20px;
        }
        p{
            font-family: "Winky Rough", ui-rounded;
            padding-left: 20px;
            padding-right: 50px;
        }
    </style>
</head>
<body>
    <div class="topnav">
      <a href="{{url_for('index')}}">Home</a>
      <a href="{{url_for('sources_abbr')}}">Source Abbreviations</a>
      <a href="{{ url_for('search') }}">Search</a>
      <a class="active" href="{{ url_for('about') }}">About</a>
    </div>
        <h1>About me and this site</h1>
        <p>I'm  a high school student in the USA who interested in both history and coding.
            This website is meant to make historical sources more accessible to the general public, who may not feel like pouring through bibliographies or looking through archives for what they want.
            This website likely will not help very much with geneaology, since those records are too numerous for me to effectively make available here; the focus of this website is more geared towards
            general historical research. 
            All materials hosted on this website are, unless otherwise stated, free from copyright and in the public domain. Feel free
            to download and distribute them as you wish.
            <br>
            Feel free to contact me using the below details with any questions or concerns.
            I'll try to be prompt in my responses, but sometimes it might take me over a week to reply, due to my own personal schedule and business level.</p>

        <h2>Contact information</h2>
        <p>
            Email: <a href="mailto:admin@source-closet.com">admin@source-closet.com</a>
        </p>
</body>
</html>