<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Source Closet - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <meta name="google-site-verification" content="FyuSCl7BsO80rtLPSAib-nEb1hCIjHcgwGOc1pZJ1Y4" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <meta name="description" content="Search the world's information, including webpages, images, video's and more." />
</head>
<body>
<div class="topnav">
  <a class="active" href="{{url_for('index')}}">Home</a>
  <a href="{{url_for('sources_abbr')}}">Source Abbreviations</a>
  <a href="{{ url_for('search') }}">Search</a>
  <a href="{{ url_for('about') }}">About</a>
</div>
<h1 id="title">Source Closet</h1>
{% for src in sources[:6] %}
<a href="{{ url_for("source", id=src[1]) }}" class="src_link">
    <div class="source">
        <h2 class="src_heading">{{ src[0]["Title"] }}</h2>
        <p>{{ src[0]["Month"] }}/{{ src[0]["Date"] }}/{{ src[0]["Year"] }}</p>
        <p>Author: {{ src[0]["Author"] }}</p>
        <p>Description: {{ src[0]["Description"] }}</p>
        <p>Tags: {{ ', '.join(src[0]["Tags"]) }}</p>
    </div>
</a>
<br>
{% endfor %}
<br>
<br>
<footer>
    <br>
    Copyright IARF, Pikleman 2025
</footer>
</body>
</html>