<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Source Closet - Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <style>
        #token_box{
            background:rgb(90, 39, 192);
            font-family: "Winky Sans", ui-rounded, sans-serif;
            color: rgb(190, 147, 112);
            margin-left: 20%;
            margin-right: 20%;
            text-align: center;
            font-size: 1.5em;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0,0);
            padding: 40px;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body style="font: 'Winky Sans', ui-rounded, sans-serif; color: rgb(190, 147, 112);">
<div class="topnav">
      <a href="{{url_for('index')}}">Home</a>
      <a href="{{url_for('sources_abbr')}}">Source Abbreviations</a>
      <a href="{{ url_for('search') }}">Search</a>
      <a href="{{ url_for('browse') }}">Browse</a>
      <a href="{{ url_for('further_reading') }}">Further Reading</a>
      <a href="{{ url_for('about') }}">About</a>
      <a class="active" href="{{ url_for('signup') }}">Sign Up</a>
      <a href="{{ url_for('login') }}">Log In</a>
</div>
<br>
<br>
<div id="token_box">
YOUR TOKEN IS: <span id="token">{{ token }}</span>
</div>
</body>
</html>