<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Source Closet - {{ source[0] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script type="text/javascript">
        if({{ source[9] }} === 1){
            let foo = prompt('Due to copyright concerns, I am required to ask you for a password \"bar\": ');
            if (foo === "bar"){
                //
            }
            else{
                while(foo !== "bar"){
                    foo = prompt('Due to copyright concerns, I am required to ask you for a password \"bar\": ');
                    if(foo === "bar"){
                        break;
                    }
                }
            }
        }
    </script>
    <style>
        #my-pdf { height: 500px; border: 1px solid #ccc; }
    </style>
    <script src="https://unpkg.com/pdfobject"></script>
</head>
<body>
    <div class="topnav">
      <a href="{{url_for('index')}}">Home</a>
      <a href="{{url_for('sources_abbr')}}">Source Abbreviations</a>
      <a href="{{ url_for('search') }}">Search</a>
      <a href="{{ url_for('about') }}">About</a>
    </div>
    <h1 id="title">{{ source[0] }}</h1>
    <div id="content">
        {% if source[12] == 1 %}
            <object id="src_frame" class="scaled" data="{{ url_for('static', filename=source[9]) }}" width="120%" height="900%"></object>
        {% else %}
            {% if ".pdf" in source[9] %}
                <object id="src_frame" class="scaled pdf" data="{{ url_for('static', filename=source[9]) }}" width="190%" height="100%"></object>
            {% else %}
                <object id="src_frame" class="scaled" data="{{ url_for('static', filename=source[9]) }}" width="180%"></object>
            {% endif %}
        {% endif %}
    </div>
    <div id="metadata">
        <p>
            Author: {{ source[4] }}<br><br>
            Date: {{ source[1] }}/{{ source[2] }}/{{ source[3] }}<br><br>
            Country: {{ ', '.join(source[5]) }}<br><br>
            Topics: {{ ', '.join(source[6]) }}<br><br>
            Description: {{ source[7] }}<br><br>
            Source: {{ source[8] }}<br><br>
            {% if source[10] != None %}
                Link: <a href="{{ source[10] }}">{{ source[10] }}</a><br><br>
            {% endif %}
            {% if source[14] != None %}
                Attribution Statement: {{ source[14] }}<br><br>
            {% endif %}
            Source ID: {{ id }}
        </p>
    <br>
    <br>
    <br>
    </div>

</body>
<footer>
    <br>
    <br>
    Copyright IARF, Pikleman 2025
    <br>
</footer>
</html>